import rr{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'rr{{properCase name}}',
  component: rr{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { rr{{properCase name}} },
  template: `
    <div>
      <rr-{{name}}></rr-{{name}}>
    </div>
  `
})
